*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --icon-size: 20px;
  --body-bg: #ffb800;
  --primary-color: #2e3731;
}

body {
  background-color: var(--body-bg);
  color: var(--primary-color);
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
}

.title {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  margin: 24px 0;
  text-indent: -9999px;
}
