*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --icon-size: 20px;
  --body-bg: #ffb800;
  --primary-color: #2e3731;
}

body {
  background-color: var(--body-bg);
  color: var(--primary-color);
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
}

.title {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  margin: 24px 0;
  text-indent: -9999px;
}

.card {
  background-color: #f4f4f4;
  text-align: center;
  margin-bottom: 24px;
}

.card__title {
  padding: 16px 0;
}

.contact-list {
  display: flex;
  justify-content: space-between;
}

.contact-list__button {
  flex: 1;
}

.contact-list__button a {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list__button span {
  display: block;
}

.contact-list__button svg {
  fill: var(--primary-color);
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: 8px;
}

.section__title {
  line-height: 1.8;
  margin-bottom: 16px;
  border-bottom: 2px dashed var(--primary-color);
}
