.container {
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
}

.title {
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  margin: 24px 0;
  text-indent: -9999px;
}
